    .main {
        position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: fit-content;
        margin: auto;
    }
    
    .header {
        display: flex;
        margin: 0px 25px 0px 0px;
        font-variant: small-caps;
        background-color: rgb(253, 249, 201);
        padding: 30px;
    }
    .bold{
        font-weight: 600;
        font-size: large;
            }
    
    .right {
        margin: 50px;
        
    }
    
    .down {
        margin: 25px 0px 50px 25px;
        padding: 25px;
        font-variant: small-caps;
        text-align: 150px;
        height: 500px;
        background-color: rgb(215, 243, 236);
    }
    
    .down h3,
    .right h3 {
        color: rgb(15, 75, 134);
    }
    
    .left {
        text-align: left;
    }
    /* #my_block1 {
        position: absolute;
        z-index: 1;
        margin: -700px 0px 800px 700px;
        width: 35px;
        height: 200px;
        background-color: #8bc9c959;
    }
    
    #my_block2 {
        position: absolute;
        margin: -575px 0px 800px 475px;
        width: 300px;
        height: 25px;
        background-color: rgba(236, 234, 214, 0.753);
    }
    
    #my_block3 {
        position: absolute;
        transform: rotate(30deg);
        margin: -620px 0px 850px 90px;
        width: 200px;
        height: 35px;
        background-color: rgba(214, 212, 195, 0.747);
    } */
    
    .circle1 {
        height: 180px;
        width: 180px;
        position: absolute;
        bottom: 450px;
        right: 50px;
        border-radius: 50%;
        background: rgba(255, 105, 180, 0.226);
    }
    
    /* .circle2 {
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 800px;
        right: 0px;
        border-radius: 50%;
        background:rgba(255, 105, 180, 0.219);
    } */
    .circle3 {
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 330px;
        right: -25px;
        border-radius: 50%;
        background: rgba(253, 249, 201, 0.795);
    }
    .circle4 {
        height: 110px;
        width: 110px;
        position: absolute;
        bottom: 50px;
        right: 35px;
        border-radius: 50%;
        background: rgba(255, 105, 180, 0.151);
    }
    .circle5 {
        height: 80px;
        width: 80px;
        position: absolute;
        bottom: 260px;
        right: 105px;
        border-radius: 50%;
        background:rgba(56, 209, 214, 0.13);
    }
    .circle6 {
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 650px;
        right: -10px;
        border-radius: 50%;
        background:rgba(41, 203, 209, 0.171);
    }
    .circle7 {
        height: 80px;
        width: 80px;
        position: absolute;
        bottom: 850px;
        right: 45px;
        border-radius: 50%;
        background: rgba(149, 219, 221, 0.185);
    }